{% extends 'vacancy/base.html' %}
{% load vacancy_tags %}

{% block head %}
  <title>Вакансия | Джуманджи</title>
{% endblock %}

{% block content %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="{{ request.META.HTTP_REFERER }}">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="{% url 'company_page' vacancy.company.id %}"><img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
            <p class="m-0 pl-3">{{ vacancy.salary_min|human_number }} – {{ vacancy.salary_max|human_number}} Р</p>
          </div>
          <p class="mt-2">{{ vacancy.skills|make_list_make_join}}</p>

          <p class="text-muted mb-4">{{ vacancy.company.name }} ({{ vacancy.company.employee_count }} человек), {{ vacancy.company.location }} или удаленно</p>
          <div style="line-height: 1.8;">
            {{ vacancy.description|safe }}
          </div>
          <!--  action="#" {% url 'vacancy_send' vacancy.id %}-->
          <form  class="card mt-4 mb-3" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}{{ error }}{% endfor %}
            </div>
            {% endif %}
            <div class="card-body mx-3">
              <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>

              <div class="form-group">
                <label class="mb-1 mt-2" for="{{ form.written_username.id_for_label }}">Вас зовут</label>
                {{ form.written_username }}
                <div class="form-error">{{ form.written_username.errors }}</div>
              </div>
              <div class="form-group">
                <label class="mb-1" for="{{ form.written_phone.id_for_label }}">Ваш телефон</label>
                {{ form.written_phone }}
                <div class="form-error">{{ form.written_phone.errors }}</div>
              </div>
              <div class="form-group">
                <label class="mb-1" for="{{ form.written_cover_letter.id_for_label }}" >Сопроводительное письмо</label>
                {{ form.written_cover_letter }}
                <div class="form-error">{{ form.written_cover_letter.errors }}</div>
              </div>
            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Подать заявку">
            </div>
          </form>

        </section>
      </div>
    </div>
  </main>
{% endblock %}