{% extends 'vacancy/base.html' %}

{% block head %}
  <title>Моя компания | Джуманджи</title>
  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>
{% endblock %}

{% block content %}

<main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="{% url 'mycompany_info' %}">1. Информация о&nbsp;компании</a>
            {% if left_menu %}
            <a class="nav-link" href="{% url 'myvacancy_list' %}">2. Вакансии</a>
            {% endif %}
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
                {% if update %}
                <p class="alert alert-info" role="alert">
                  Информация о компании обновлена
                </p>
                {% endif %}


              <!-- action="/echo" -->
              <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                  <div div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                  </div>
                {% endif %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="{{ form.name.id_for_label }}">Название компании</label>
                      {{ form.name }}
                      <!--<input class="form-control" type="text" value="Staffing Smarter" id="companyName">-->
                    </div>
                    <div class="form-error">{{ form.name.errors }}</div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="mb-2 text-dark" for="{{ form.logo.id_for_label}}">Логотип</label>

                      <div class="row align-items-center">
                      <div class="col-6">
                        {% if company.logo %}
                            <img src="{{ company.logo.url }}" alt="" style="max-width: 120px;height: auto;">
                            {% if img %}
                                <img src="{{ img.logo.url }}" alt="" style="max-width: 120px;height: auto;">
                            {% endif %}
                        {% endif %}
                        </div>


                        <div class="col-6" style="position: relative;">
                          <div class="input-group-prepend" style="position: absolute; top: 0;right: 15px;">
                            <span class="btn btn-info px-4">Загрузить</span>
                          </div>
                          <div class="custom-file" style="">
                            {{ form.logo }}
                            </div>
                        </div>


                      </div>
                    </div>
                    <div class="form-error">{{ form.logo.errors }}</div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="{{ form.employee_count.id_for_label }}">Количество человек в компании</label>
                      {{ form.employee_count }}
                    </div>
                    <div class="form-error">{{ form.employee_count.errors }}</div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="{{ form.location.id_for_label }}">География</label>
                      {{ form.location }}
                    </div>
                    <div class="form-error">{{ form.location.errors }}</div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="{{ form.description.id_for_label }}">Информация о&nbsp;компании</label>
                  {{ form.description }}
                  <div class="form-error">{{ form.description.errors }}</div>
                </div>
                <div class="form-group">
                  <!--<input type="submit" class="btn btn-info" value="Сохранить"> -->
                  <button class="btn btn-info" type="submit">Сохранить</button>

                </div>
              </form>

            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}